<div class="login-card">
  <div class="login-logo">
    <ct-image-logo
      [size]="200"
    ></ct-image-logo>
    <span class="brand-text">Car<span class="brand-text-blue">Tech</span></span>
  </div>

  <span class="welcome">Войдите, чтобы продолжить</span>

  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="login-form">
      <div class="form-group login">
        Логин
        <ct-form-field>
          <ct-input
            formControlName="username"
            type="text"
            placeholder="Введите Логин"
            [disabled]="isLoading()"
          >
            <ct-icon
              ctInputPrefix
              name="user"
            ></ct-icon>
          </ct-input>
        </ct-form-field>
      </div>

      <div class="form-group password">
        Пароль
        <ct-form-field>
          <ct-input
            [type]="passwordVisible() ? 'text' : 'password'"
            placeholder="Введите пароль"
            formControlName="password"
            [disabled]="isLoading()"
          >
            <ct-icon
              ctInputPrefix
              name="lock"
            ></ct-icon>
            <ct-button
              ctInputSuffix
              type="button"
              variant="ghost"
              (click)="toggleVisibility()"
            >
              <ct-icon
                [name]="passwordEye()"
              ></ct-icon>
            </ct-button>
          </ct-input>
        </ct-form-field>
      </div>
    </div>

    @if (loginError()) {
      <span class="error">{{loginError()}}</span>
    }


    <div class="form-actions">
      <ct-button
        size="full"
        class="full-width"
        variant="primary"
        type="submit"
        [disabled]="isLoading()"
      ><span class="action-btn-text">{{ isLoading() ? 'Входим...' : 'Войти' }}</span></ct-button>
    </div>
  </form>
</div>
