:root {
  /* ==========================================================================
     Animation
     ========================================================================== */

  --transition-fast: .15s ease;

  --transition-normal: .25s ease;

  --transition-slow: .4s ease;
}
